/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #57187b;
  --ifm-color-primary-dark: #5e2381;
  --ifm-color-primary-darker: #723595;
  --ifm-color-primary-darkest: #723595;
  --ifm-color-primary-light: #774097;
  --ifm-color-primary-lighter: #784496;
  --ifm-color-primary-lightest: #83559e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2b1363;
  --ifm-color-primary-dark: #8363cd;
  --ifm-color-primary-darker: #a492cd;
  --ifm-color-primary-darkest: #8f7ac1;
  --ifm-color-primary-light: #7764a2;
  --ifm-color-primary-lighter: #a494c9;
  --ifm-color-primary-lightest: #7e798b;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


/* test */